@import "../../../scss/mixins";

.myhome-logo {
  display: inline-block;
  width: 137px;
  img {
    &:nth-of-type(2) {
      display: none;
    }
    @include respond-to(large) {
      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}
