@import "../../../scss/mixins";

.myhome-burger {
  display: inline-block;
  width: 30px;
  height: 25px;
  cursor: pointer;

  div {
    width: 95%;
    height: 3px;
    margin-top: 2px;

    &:not(:first-child) {
      margin-top: 5px;
    }

    border-radius: 8px;
    background-color: #f06200;
  }

  @include respond-to(large) {
    display: none;
  }
}
