@import "../../scss/mixins";

.myhome-callback {
  display: block;
  padding: 16px 8px 10px 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 10;

  p {
    font-weight: bold;
    font-size: 12px;
    @include respond-to(large){
      font-size: 14px;      
    }
  }
  @include respond-to(large){
     padding: 16px 14px 10px 14px;
  }
}

.myhome-callback.hide {
  display: none;
}

.myhome-callback-quit {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  margin-top: 14px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 25;

  &::after {
    content: "x";
    position: absolute;
    font-weight: bolder;
    display: inline-block;
    font-family: Oxygen, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -6px;
  }
}

.myhome-callback-quit.hide {
  display: none;
}

.myhome-callback-form {
  margin-top: 15px;
 
  label {
    display: block;
    width: 100%;
    position: relative;

    &::after {
      content: attr(data-name);
      display: inline-block;
      position: absolute;
      font-size: 12px;
      color: rgb(138, 138, 138);
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
      background-color: #fff;
      padding: 4px 2px;
      transition: all 0.1s ease;
      @include respond-to(large){
        font-size: 14px;
      }
    }
  }
  input[type="text"] {
    display: block;
    padding: 10px 13px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220, 0.5);
    outline: none;
    margin-top: 12px;
    @include respond-to(large){
       padding: 16px 13px;
    }
  }
}

.field-animate-text {
  &::after {
    top: 0 !important;
    font-size: 10 px !important;
    color: rgb(44, 44, 44) !important;
  }
}

.myhome-form-submit-cta {
  display: block;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  border: none;
  background-color: tomato;
  color: #ffff;
  border-radius: 5px;
  @include respond-to(large){
    width: 200px;
    position: relative;
    margin-left: auto;
  }
}

.myhome-form-submit-cta.disabled {
  background-color: rgb(165, 165, 165) !important;
}

.myhome-form-submit-noti {
  display: inline-block;
  padding: 8px;
  margin-top: 10px;
  color: tomato;
  font-weight: bold;
  font-style: italic;
}
