@import "../../scss/mixins";

.myhome-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: #3333;
  background-image: url('/images/myhome-original.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}