.myhome-header {
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 16px 10px 16px;
  color: #0000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 50;
}