@import "../../../scss/mixins";

.myhome-banklist {
  list-style-type: none;

  //base row card
  li {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 12px;
    border-radius: 3px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 25px;
    }

    border: 1px solid rgba(158, 158, 158, 0.1);
    box-shadow: rgba(0, 0, 0, 0.08) -2px 2px 7px 0px;

    @include respond-to(large) {
      padding: 8px 16px;
    }
  }
}

.myhome-bank-detail-group {
  align-items: center;
}

.myhome-bank-detail-group-a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.myhome-bank-detail-group-b {
  display: none;
  min-height: 50px;
  padding: 0 8px;
  opacity: 0;
}

.myhome-bank-detail-group-b.show {
  margin-top: 10px;
  display: block;

  @include respond-to(large) {
    display: flex;
    flex-flow: row wrap;
  }

  animation: blink 0.4s ease 0.2s forwards;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#singleBankInfo {
  padding: 0;

  li {
    display: flex;
    padding: 0 !important;
    list-style-type: none;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    margin-top: 2px;

    p {
      font-size: 12px;

      &:nth-of-type(1) {
        flex: 1;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        text-align: left;
        flex: 1;

        @include respond-to(large) {
          flex: 2;
        }
      }

      @include respond-to(large) {
        font-size: 14px;
      }
    }
  }

  @include respond-to(large) {
    flex: 1;
  }
}

#monthlyTable {
  margin-top: 10px;

  li {
    display: flex;
    padding: 0 !important;
    list-style-type: none;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    border-radius: 0 !important;
    align-items: center;

    span {
      text-align: center;
      font-size: 12px;
      text-align: center;
      padding: 5px 8px;

      //on semi
      &:nth-of-type(1) {
        @include respond-to(semi) {
          flex: 1;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        flex: 1;
      }
    }

    &:nth-of-type(even) {
      background-color: rgb(245, 245, 245);
    }

    &:nth-of-type(1) {
      background-color: rgb(163, 163, 163);
      color: rgb(255, 255, 255);

      @include respond-to(semi) {
        font-weight: bold;
      }
    }
  }

  @include respond-to(large) {
    flex: 1;
    overflow: scroll;
    max-height: 110px;
  }
}

.my-home-bank-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
}

.my-home-bank-caption {
  padding: 4px 6px;
  flex: 1;

  @include respond-to(large) {
    display: flex;
  }
}

.my-home-bank-caption-grp-a {
  flex: 1;

  h1 {
    font-size: 14px;

    @include respond-to(semi) {
      font-size: 16px;
    }

    @include respond-to(large) {
      font-size: 20px;
    }
  }
}

.my-home-interest-month {
  margin-top: 2px;

  p {
    display: inline-block;
    font-size: 11px;

    &:nth-of-type(2) {
      margin-left: 5px;
      font-weight: bold;

      @include respond-to(semi) {
        font-size: 13px;
      }
    }

    @include respond-to(large) {
      &:nth-of-type(1) {
        font-size: 12px;
        display: block;
      }

      &:nth-of-type(2) {
        font-size: 16px;
      }
    }
  }
}

.my-home-bank-caption-grp-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 5px;

  p {
    &:nth-of-type(2) {
      text-align: right;
    }
  }

  @include respond-to(semi) {
    b {
      font-size: 13px;
    }
  }

  @include respond-to(large) {
    flex: 1;
    margin-left: 25px;

    p {
      font-size: 12px;
    }

    b {
      font-size: 16px;
    }
  }
}

.progress {
  display: inline-block;
  position: relative;
  flex-basis: 45%;
  margin-top: 2px;
  background-color: rgb(195, 234, 247);
  width: 100%;
  min-height: 18px;
  overflow: hidden;
  border-radius: 3px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.4s ease;
    background-color: rgb(96, 183, 212);
  }

  @include respond-to(large) {
    flex-basis: 65%;
  }
}

.tenure-5 {
  &::after {
    width: 89%;
  }
}

.tenure-10 {
  &::after {
    width: 78%;
  }
}

.tenure-15 {
  &::after {
    width: 68%;
  }
}

.tenure-20 {
  &::after {
    width: 62%;
  }
}

.tenure-25 {
  &::after {
    width: 58%;
  }
}

.myhome-callback-cta-group {
  flex-basis: 100%;

  @include respond-to(large) {
    padding: 12px;
    margin-top: 30px;
    display: flex;
    align-items: center;

    div {
      flex: 1;
    }
  }

  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 30%;
    background-color: rgb(243, 243, 243);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    @include respond-to(large) {
      display: block;
    }
  }
}

.myhome-callback-cta-group-caption {
  display: none;

  @include respond-to(large) {
    display: block;
  }
}

.myhome-callback-cta {
  display: block;
  cursor: pointer;
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #E55710;
  border: none;
  color: #ffff;

  @include respond-to(large) {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 150px;
  }
}