.myhome-spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 3px solid #E26710;
  border-bottom: 3px solid transparent;
  padding: 2px;
  border-radius: 50%;
  animation: spinning 0.40s linear infinite;
}

@keyframes spinning {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}