@import "../../../scss/mixins";

.myhome-calculator-fields {
  width: 100%;
  background-color: #fefefe;
  padding: 12px 20px 25px 20px;
  display: flex;
  flex-flow: row wrap;

  @include respond-to(large) {
    align-items: flex-end;
    flex-flow: row nowrap;
  }

}

.myhome-calculator-field-box {
  display: inline-block;
  flex: 1;

  &:first-child {
    input[type='text'] {
      width: 90%;

      @include respond-to(large) {
        width: 100%;
      }
    }
  }

  //tenure element group
  &:nth-of-type(3) {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: space-between;

    label {
      display: block;
      flex-basis: 100%;
      margin-bottom: 5px;
    }

    @include respond-to(large) {
      flex-basis: 30%;
      margin-right: 5px;
      justify-content: flex-start;
    }
  }

  label {
    display: block;
    font-size: 13px;
  }

  input[type='text'] {
    display: inline-block;
    border: none;
    width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold;
  }

  @include respond-to(large) {
    flex-basis: 20%;

    &:not(:first-child) {
      margin-left: 10px;

    }
  }

}

.myhome-tenure-years {
  cursor: pointer;
  display: inline-block;
  color: rgb(97, 97, 97);
  border: 1px solid #EEEEEE;
  padding: 2px 16px;
  border-radius: 2px;
  background-color: #fefefe;
  outline: none;
  width: 17%;
  font-weight: bold;

  @include respond-to(large) {
    width: unset;
    padding: 2px 11px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

}

.myhome-tenure-years.selected {
  background-color: #E55710;
  border: none;
  color: #fff;
}

.myhome-calculator-reset {
  display: block;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  border: none;
  text-align: center;
  background: none;
  border: 1px solid rgb(233, 117, 59);
  padding: 6px 16px;
  border-radius: 4px;
  color: #E55710;
  outline: none;
  font-family: Rubik, sans-serif;
  user-select: none;

  @include respond-to(large) {
    flex-basis: 18%;
    padding: 4px 16px;
  }

}