@import "../../../scss/mixins";

.myhome-calculator-heading {
  background-color: rgb(245, 245, 245);
  display: flex;
  padding: 8px;


  @include respond-to(semi) {
    padding: 12px 20px;
  }
}

.myhome-heading-grp1 {
  display: inline-block;
  width: 100%;
  max-width: 65px;
  height: 65px;
}

.myhome-heading-grp2 {
  display: inline-block;
  padding: 3px;

  h1 {
    font-size: 15px;

    @include respond-to(medium) {
      font-size: 20px;

    }
  }

  p {
    font-size: 14px;
  }
}