@import "./scss/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #fefefe;
}


img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 12px;
  max-width: 450px;
  margin: 0 auto;

  @include respond-to(semi) {
    max-width: 620px;
  }

  @include respond-to(large) {
    max-width: 900px;
  }
}