@import "../../../scss/mixins";

.myhome-phone {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("/images/phone-orange.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include respond-to(large) {
    display: none;
  }
}
